@CHARSET "ISO-8859-1";
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}
li:last-child { float:right; }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
m{
	width:100%;
	height:auto;
}

li a:hover {
    background-color: #111;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.sidenav {
    
    z-index: 1;
    float:left;
    height:1050px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
   
}
header{
	background-color:#BCBACB;
	padding:20px;
	border-width:5px;
	border-color:black;
	border-style:solid;
	
	
}

iframe{
	padding:0px;
	margin:0px;
	width:1000px;
	float:left;
	border-color:transparent;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
   
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 180px;
}

#main {
    transition: margin-left .5s;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
